@use '../../styles/colors';

.sidebar{
    &__container{
        //background: linear-gradient(0deg, colors.$sky-captain , colors.$fish-boy , colors.$sky-captain);
        background-color: colors.$sky-captain;
        position: fixed;
        width: 300px;
        height: 100vh;
        color: white;
        padding-top: 32px;
        &__padding{
            margin-right: 300px;
        
        }
    }
}