@use '../../styles/colors';

.link{
    &__container{
        background-color: colors.$fish-boy;
        display: flex;
        justify-content: center;
        margin: 10px 20px;
        border-radius: 4px;

        &--matched{
            background-color: colors.$chinese-new-year;
        }

        &__link{
            width: 100%;
            height: 100%;
            padding: 10px 20px;
            display: block;
            text-align: center;
            font-size: large;
            font-weight: 600;
            color: colors.$plaster;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        &:hover{
            box-shadow: 1px 1px 4px 1px rgb(200, 200, 200);
        }
    }
}