@use '../../styles/colors';

.create-card{
    &__container{
        width: 250px;
        height: 360px;
        margin: 16px;
        background-color: colors.$sky-captain;
        border: 4px solid colors.$fish-boy;
        border-radius: 32px;
        
        display: flex;
        align-items: center;
        
    }
}