@use '../../styles/colors';

.card{
    &__container{
        width: 220px;
        height: 300px;
        margin: 16px;
        background-color: colors.$sky-captain;
        border: 4px solid colors.$fish-boy;
        border-radius: 32px;
        
        display: flex;
        justify-content: center;
        color:white;
        
    }
}